/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}


.row:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.row {
  clear: both;
  margin-bottom: 2%;
}

/* Positioning Classes  - for 3 column grid*/



.col-A {
  float: left;
  width: 66%;
}

.col-B {
  float: left;
  width: 32%;
  margin-left: 2%;
}

.col-1 {
  float: left;
  width: 20%;
  margin-left: 18%;
}

.col-2 {
  float: left;
  width: 20%;
  margin-left: 2%;
}

.col-3 {
  float: left;
  width: 20%;
  margin-left: 2%;
}

.col-4 {
  float: left;
}

.col-5 {
  float: left;
  margin-left: 2%;
}

.col-6 {
  float: left;
  margin-left: 2%;
}
